.form-section {
    transition: 0.2s linear all;
}

.form-check {
    width: max-content;
}

.form-section:hover {
    box-shadow: rgba(125, 125, 125, .12) 3px 6px;
}

input[type="submit"] {
    font-size: 1.5rem;
}

#sfo-form input, #sfo-form select {
    transition: 0.2s linear all;
}