{% extends "main.html" %}

{% block content %}
<div class="row row-md-5">
    <div class="col">
        <h1>{{home_text[0]}}</h1>
        <p>{{home_text[1]}}</p>
        <a class="btn btn-primary" href="{{url_for('main_site_page', language=self_page.self_lang)}}">
            <!-- <button type="submit" value="editor">{{home_text[3]}}</button> -->
            {{home_text[3]}}
        </a>
    </div>

    <div class="col">
        <h4>{{home_text[2]}}</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hvsVKBPs5as?si=eENQG3tdF7l4cz0q"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>
<!-- <div>
    <h2>{{home_text[4]}}</h2>
    <input name="search" type="text">
    <button type="submit">{{home_text[5]}}</button>
</div> -->
{% endblock %}